<li class="row justify-content-center m-3">

<div class="col-md-9">


<div class="card shadow bg-grey rounded">


<div class="card-header">

<div class="row">


  <span class="col-4 font-weight-bold"><a href="/Garage/item/{{id}}"></i>  {{name}}</a></span>
  <span class="col-4 "></span>
  <span class="col-4 text-right font-weight-bold">{{{like_count}} {{format_plural "LIKE" like_count}}</span>
         </div>
         </div>
  <div class="card-body row">
  
  
   <img id="item-pic" src="/images/{{name}}.jpg" alt="{{name}}">

    <div class="col-8">